body {
    background-image: linear-gradient(#FFFFFF, #FFEFBA);
}
nav {
    background-image: linear-gradient(#FFEFBA, #FFFFFF);
}
.container-fluid-nav {
    display: flex;
}
.navbar-collapse {
    flex-grow: 0;
}
.hero-content {
    display: flex;
    padding: 20px;
    margin: 15px auto;
    max-width: 960px;

}
.hero-header {
    text-align: center;
}
.img-radius {
    border-radius: 10%;
}
.card {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    max-width: 960px;
    text-align: center;
}
.card-text {
    text-align: left;
}
.featured-content {
    padding: 20px;
    margin: 15px auto;
    max-width: 960px;
}
.featured-header {
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px auto;
    max-width: 960px;
    text-align: center;
}
.social-img {
    margin: 10px 20px 10px 20px;
    width: 50px;
    height: auto;
}
.project-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    margin: 15px auto;
    max-width: 480px;
    text-align: center;
}
.project-selector-item-active {
    text-decoration: underline;
}
@media screen and (max-width: 992px) {
    .nav-item {
        text-align: center;
    }
}
