body {
    background-color: #fffff0;
}
header {
    background-color: #ffffff;
}
.container-fluid-nav {
    display: flex;
}
.navbar-collapse {
    flex-grow: 0;
}
.hero-content {
    display: flex;
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;

}
.hero-image {
    display: inline-block;
}
.hero-header {
    text-align: center;
}
.img-radius {
    border-radius: 10%;
}
.card {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    max-width: 1200px;
    text-align: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
}
.featured-content {
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;
}
.featured-header {
    text-align: center;
}
.featured-img {
    margin: 40px 0 20px 0;
}
.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;
    text-align: center;
}
.social-img {
    margin: 10px 20px 10px 20px;
    width: 50px;
    height: auto;
}
.project-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    margin: 15px auto;
    max-width: 480px;
    text-align: center;
}
.project-selector-item {
    text-align: center;
}
.project-selector-item-active {
    text-decoration: underline;
}
.project-cards {
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;
}
.disclaimer {
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    margin: 50px 0 0 0;
}
@media screen and (max-width: 992px) {
    .nav-item {
        text-align: center;
    }
}
.mhs {

}
.cfia {

}
.overview-card {
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;
}
.overview-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;
}
.overview-text {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 15px auto;
    max-width: 1200px;
}
